#eventManager, #productManager, #appManager, #channelManager, #columegrpManager, #columetgtManager, #pageManager, #app-setting
  height 100%
  overflow hidden
  .container_wrap
    overflow auto
    height calc(100% - 66px)
    margin 10px 0 0 10px
    padding-right 10px
  .container-box
    .header-tool-bar
      line-height 50px
      vert-align middle
      background-color #FFFFFF
      .conditionquery
        width 300px
        float right
        margin-right -10px
      .el-input--mini
        width 200px
      .el-button--danger
        background-color #016DFB
        border-color #016DFB
      .dialog-input
        width 210px
        height 30px
        border-radius 4px
        border 1px solid #D8DCE5
    .main-table-box
      margin-top 10px
      height 100%
      background-color #fff
      .el-table
        padding 10px 0 0
      .el-pagination
        text-align right
        background-color #fff
  .el-dialog
    width 30%
    .el-dialog__body
      padding 20px 20px
      margin 0 auto
      margin-right 20px
      .el-date-editor
        width 260px
      .el-input
        width 100%
        .el-input__inner
          height 40px
      .el-button--primary
        float right
        margin-left 10px
      .el-button
        float right
      .el-date-editor
        height 40px
        width 100% !important
        .el-range-separator
          height 25px
